* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51 58 86);
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
}

.left {
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}

.right button {
    background-color: rgb(51 58 86);
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    text-decoration: none;
    padding:5px 10px;
    border-radius: 20px;
}

#menu a {
    text-decoration: none;

}

#menu li {
    margin: 5px 0px;
}
.menu li a:hover{
 background-color: rgb(80, 92, 139);
 transition: 0.5s ease-in-out;
 
}

#menu {
    position: absolute;
    right: 0;
    top: 70px;
    width: 80px;
    z-index: 1000;
    background-color: rgb(51 58 86);
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

#btn {
    display: none;
}

.profile img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name h1 {
    color: rgb(51 58 86);
    text-align: center;
    margin: 10px;
    cursor: pointer;

}

.intro p {
    color: rgb(51 58 86);
    text-align: center;
    margin: auto;
    width: 80vw;
    cursor: pointer;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.btn1 {
    background-color: rgb(51 58 86);
    padding: 12px;
    border-radius: 20px;
    border: 1px solid rgb(51 58 86);
    margin: 5px;
}

.btn1 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.btn2 {
    padding: 12px;
    border-radius: 20px;
    border: 1px solid rgb(51 58 86);
    margin: 5px;
}

.btn2 a {
    color: rgb(51 58 86);
    text-decoration: none;
}
.btn1:hover{
    background-color: rgb(80, 92, 139);
    transition: 0.5s ease-in-out;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#skills div {
    height: 100px;
    width: 350px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(51 58 86);
    border-radius: 20px;
    padding: 15px;
    margin: 12px;
}
#skills div:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background-color: rgb(80, 92, 139);
}

.heading h2 {
    margin: 0px 12px;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.capsule {
    display: flex;
    justify-content: center;
    align-items: center;
}

.capsule h5 {
    padding: 6px;
    border: 1px solid rgb(77, 87, 128);
    border-radius: 20px;
    margin: 5px;
    background-color: rgb(77, 87, 128);
}
#work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

}
.workh h2{
    color: rgb(51 58 86);
}
.projectlist{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.projects{
    height: 65px ;
    width: 250px;
    background-color: rgb(51 58 86);
    border: 1px solid rgb(51 58 86);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
}
.projects button{
    background-color: rgb(80, 92, 139);
    color: white;
    padding:8px 10px;
    border: 1px solid rgb(80, 92, 139);
    border-radius: 20px;
    margin-top: 5px;

}
.projects:hover{
    transition: 0.5s ease-in-out;
    background-color: rgb(80, 92, 139);
    
}

.projects a{
    text-decoration: none;
}
:active{
    color: white;
    
}
footer{
    background-color: rgb(51 58 86);
    margin: 0 30 0 30;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fot-right i{
    margin: 0px 0px;
    padding: 9px;
    border-radius: 35%;
    cursor: pointer;
}
.fot-right i:hover{
    background-color: rgb(80, 92, 139);
    transition: 0.5s ease-in-out;
}


@media screen and (max-width: 768px) {
    #btn {
        display: inline;
    }

    .menu {
        display: none;
    }

    footer{
        flex-direction: column;
    }
    .fot-right{
        margin-top: 5px;
    }
}